body {
    background-color: #231F1B;
}
p {
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 200;
}
h1 {
    color: #f7e2cb;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: xx-large;
}
::placeholder {
    color: black;
    font-family: "Lato", sans-serif;
    font-weight: 200;
}
.textbox {
    font-family: "Lato", sans-serif;
    font-weight: 200;
}
.footer {
    color: #f7e2cb;
}
.container {
    background-color: white;
}